{%extends "auth/header.html"%}
{%block content%}
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/animate.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" method="POST" action="{{BASE_URL}}/auth/create_user">
            {% csrf_token %}
            {% if messages %}
{% for message in messages%}
    <div class="container-fluid">
      <div class="alert alert-{{message.tags}} fade in" style="text-align:center;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{message}}
      </div>
    </div>
  {% endfor %}
  {%endif%}
              <h2>Please Sign Up</h2>
              <hr class="colorgraph">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
                  </div>
                </div>
              </div>
              <!--<div class="form-group">
                <input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="Display Name" tabindex="3">
              </div>
              -->
              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
                  </div>
                </div>
              </div>

             <hr class="colorgraph">
             
             <div class="row">
              <div class="col-xs-6 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
              <div class="col-xs-6 col-md-6"><a href="{{BASE_URL}}/auth/login" class="btn btn-success btn-block btn-lg">Already have an ID ? Sign in</a></div>
              <div class="col-xs-12 col-md-12"><input type="submit" value="Sign Up with Facebook" class="btn btn-primary btn-block btn-lg" tabindex="7" id="facebook-button"></div>
              <div class="col-xs-12 col-md-12"><input type="submit" value="Sign Up with Google+" class="btn btn-primary btn-block btn-lg" tabindex="7" id="googleplus-button"></div>
              <div class="col-xs-12 col-md-12"><input type="submit" value="Sign Up with Twitter" class="btn btn-primary btn-block btn-lg" tabindex="7" id="twitter-button"></div>
            </div>
          </form>
        </div>
      </div>

    </div>


    
    <script src="{{STATIC_URL}}js/isotope.pkgd.min.js"></script>
    <script src="{{STATIC_URL}}js/imagesloaded.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.scrollTo.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.nav.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.appear.min.js"></script>
    <script src="{{STATIC_URL}}js/twitterFetcher.min.js"></script>
    <script src="{{STATIC_URL}}js/script.js"></script>
{% endblock %}