{%extends "auth/header.html" %}
{%block content %}
  <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/animate.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
    
      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
          <hr class="colorgraph">
          {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
            <div class="jumbotron">Successfully registered</div>
            <hr class="colorgraph">
        </div>
      </div>

    </div>
    <script src="{{STATIC_URL}}js/isotope.pkgd.min.js"></script>
    <script src="{{STATIC_URL}}js/imagesloaded.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.scrollTo.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.nav.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.appear.min.js"></script>
    <script src="{{STATIC_URL}}js/twitterFetcher.min.js"></script>
    <script src="{{STATIC_URL}}js/script.js"></script>
{% endblock %}