{%extends "project/header.html"%}{%block content%} {%load css_filter%}
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/animate.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
<!--[if lt IE 9]>
    <script src="{{STATIC_URL}}js/html5shiv.js"></script>
    <script src="{{STATIC_URL}}js/respond.min.js"></script>
    <![endif]-->

<div class="container-fluid">

    <div class="row">
        {%if user.is_authenticated %} {%if messages %}{% for message in messages %}
        <div class="container-fluid">
            <div class="alert alert-{{message.tags}} fade in" style="text-align:center;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message|safe }}
            </div>
        </div>{% endfor %}{% endif %}

        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form class="form-horizontal well" method="POST" action="{{BASE_URL}}/project/save_project" enctype="multipart/form-data" id="project_form">{% csrf_token %}

                <center>
                    <h1 style="margin-top:5px;">Create Project</h1>
                </center>
                <p>{{ form.non_field_errors }}</p>
                <!-- Text input-->
                <div class="form-group">
                    <label class="control-label" for="project_name">Project Name</label>
                    <div class="controls">
                        {{form.name|addClass:'form-control input-md'}}
                    </div>
                </div>
                <!-- Textarea -->

                <div class="form-group">
                    <label class="control-label" for="project_desc">One Line Project Description</label>
                    <div class="controls">
                        {{form.desc|addClass:'form-control input-md'}}
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="control-label" for="money_req">Money Required</label>
                    <div class="controls">
                        {{form.money_req|addClass:'form-control input-md'}}
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="control-label" for="days_req">Days required</label>
                    <div class="controls">
                        {{form.days_req|addClass:'form-control input-md'}}
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="control-label" for="img_link">Upload image:</label>
                    <div class="controls">
                        {{form.photo|addClass:'btn btn-md btn-primary'}}
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="control-label" for="video_link">Link to video:</label>
                    <div class="controls">
                        {{form.video_link|addClass:'form-control input-md'}}
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="control-label" for="details">Detailed Explanation:</label>
                    <div class="controls">
                        {{form.details|addClass:'form-control input-md'}}
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="control-label" for="risks_and_challenges">Risks and Challenges:</label>
                    <div class="controls">
                        {{form.risks_and_challenges|addClass:'form-control input-md'}}
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="control-label" for="project_use">Project Use:</label>
                    <div class="controls">
                        {{form.project_use|addClass:'form-control input-md'}}
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label for="" class="control-label">Number of options</label>
                    <div class="controls">
                        <select name="num_of_options" id="num_of_options" onchange="change(this);">
                            <option value="-1">Select number</option>
                            {%for i in "xxxxx"%}
                            <option value="{{forloop.counter}}">{{forloop.counter}}</option>{%endfor%}
                        </select>
                    </div>
                </div> -->
               <!--  <input type="hidden" name="number_of_options" id="number_of_options">
                <input type="hidden" name="pledge_value" id="pledge_value">
                <input type="hidden" name="pledge_reward" id="pledge_reward">
                <!-- Look at the script bro ->
                <div id="pledge_options" style="display:none;">
                
                </div> -->
                <!-- End of pledging and swearing -->
                <!-- Button -->
                <div class="form-group">
                    <label class="control-label" for="submit"></label>
                    <div class="controls">
                        <input type="button" id="btnSubmit" name="btnSubmit" class="btn btn-success" value="Submit" onclick="submit();">
                    </div>
                </div>

                </fieldset>
            </form>
        </div>
        <script>
        // function change(item) {
        //     var k = item;
        //     var len = ~~(k.value);
        //     var cont = "";
        //     $('#pledge_options').html("");
        //     for (var i = 0; i < len; i++) {
        //         cont += "<div class='form-group'>";
        //         cont += "<label class='control-label'>Pledge " + (i + 1) + "</label>";
        //         cont += "<div class='controls'><input class='form-control input-md' type='text' id='pledge" + (i + 1) + "' name='pledge"+(i+1)+"'/></div>";
        //         cont += "<label class='control-label'>Reward " + (i + 1) + "</label>";
        //         cont +="<div class='controls'><input class='form-control input-md' type='text' id='reward"+(i+1)+"'name='reward"+(i+1)+"'/></div>";
        //         cont += "</div>";
        //     };
        //     $('#pledge_options').append(cont);
        //     $('#pledge_options').show();
        // }
        function form_submit(){
            var t=document.getElementById('project_form');
            document.getElementById('project_form').submit();
        }
         
        </script> 
        {%else%}
        <div class="jumbotron">
            <p class="lead">You must be logged in to create a project.</p>
        </div>
        {%endif%}
    </div>
</div>
{% endblock %}
