{%extends "project/header.html"%} {%block content%}
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/animate.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">

<div class="container">
	<div class="row">
	<center>
		<legend>Project update</legend>		
	</center>
	<form class="form-horizontal" action="{{BASE_URL}}/project/save_project_update" method="POST">{%csrf_token%}
		<div class="form-group">
		<label for="" class="control-label">Project:</label>
			<select name="project" id="id_project">
				<option value="-1">Select project</option>
				{%for item in projects%}<option value="{{item.project_id}}">{{item.name}}</option>{%endfor%}
			</select>
		</div>
		<div class="form-group">
			<label for="" class="control-label">Update:</label>
			<div class="controls">
			<textarea name="content" id="id_content" cols="30" rows="10" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-warning btn-md" value="Submit">
		</div>
	</form>
	</div>
</div>
<script>
$(document).ready(function(){
	$('#id_project').change(function () {
		$.post(
			"{{BASE_URL}}/project/get_update_content",
    		{
      			proj:$(this).val(),
      			csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
    		},
    		function(data,status){
    			$('#id_content').val(data.result);
    			if(data.result=="" && $(this).val()>0){
    				alert("No updates have been made. Continue adding your update");
    			}
      			// alert("Data: " + data.message + "\nStatus: " + status);
    		});
	});
});
</script>
{%endblock%}