{% extends 'project/header.html'%}
{% block content %}
<!DOCTYPE html>
<!-- script to call slider function -->
<script type="text/javascript">
	$(document).ready(function(){
	$("#slider").easySlider();
	$(".title1").animate({opacity:1,marginLeft:"0px"},800);
});
</script>

<!--body-->
	<section id="highlights">
		<div class="grid">

			<div class="outerindent-title">
				<div class="title1">Democratize access to funding
				<div class="description">Lakshya's crowd funding platform aims to gives every student a fair opportunity to shape an idea, innovation, or product</div></div>
			</div>
			<div class="know-more">Know More</div>
			<div class="blank-space"></div>
		</div>
	</section>


<!-- Listing out projects |truncatewords:5-->
	<div class="phases" id="slider">
	<h2>FEATURED PROJECTS</h2>
		<ul>
		{% for item in project %}
			<li>
				<div class="col-xs-18 col-sm-6 col-md-3" style="width:100%">
					<div class="thumbnail">
						<a href="{{BASE_URL}}/project/show/{{item.project_id}}" style="text-decoration:true;"> <img  class="project-cover-image" src="{{BASE_URL}}/media/{{ item.photo }}" alt="{{item.name}}"></a>
						<div class="caption" style="line-height:1.3;">
					
							<h5><b><p><a href="{{BASE_URL}}/project/show/{{item.project_id}}">{{item.name}}</a></p></b></h5> 
						
							<p><a href="{{BASE_URL}}/profile/{{item.user_id}}" style="color:#aaa;text-decoration:none;">By {{item.user}}</a></p>

							<p style="font-size:13px;">{{item.desc}}</p>
						
							<p><a href="#" style="color:#ccc;"><i class="fa fa-map-marker"></i><span> Warangal</span></a></p>

							<div style="display: table; margin: 0 auto;
">
							<p>
								<div class="progress" style="height:12px;">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{item.percent}}%;">
										<span class="sr-only">{{item.percent}}% Complete</span>
									</div>
								</div>
							</p>

							<p>
								<div class="col-sm-4" style="margin-top:-20px;"><p style="font-size:11px;"><b>{{item.percent}}%</b> funded</p></div>
								
								<div class="col-sm-4" style="margin-top:-20px;"><p style="font-size:11px;"><b><i class="fa fa-rupee"></i>{{item.amount_pledged}}</b> pledged</p>
								</div>
								
								<div class="col-sm-4" style="margin-top:-20px;"><p style="font-size:11px;"><b>{% if item.days_left %}{{item.days_left}}</b> days to go{% elif item.days_elapsed %}{{item.days_elapsed}}</b> days elapsed{% endif%}</p> 
								</div>
							</p>
							</div>
						</div>
					</div>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
	<!-- Need to work from here -->

	<div class="clearfix"></div>

	<!--div class="large-button">
	<h3>Whats the Problem</h3>
	<p>Some Explanation about the problem.</p>
	</div-->

	<div class="clearfix"></div>

	</div>



	<script src="../static/application.js" type="text/javascript"></script>

<!--/body>
</html-->


<!--/body>
</html-->

{% endblock %}
<!-- Localized -->