<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Lakshya Crowd Funding Website</title>
	<meta name="description" content="This is the internal crowd funding platform for increasing the number of students entrepreneurs and research inititatives on campus using crowd funding so that projects can be crowdfunded.">
	<meta name="keywords" content="Crowd Funding, kickstarter, laskhya foundation">
	<meta name="viewport" content="width=1160">

	<link href="{{STATIC_URL}}style.css" media="all" rel="stylesheet" type="text/css" />
	<link href="{{STATIC_URL}}facebookimages.css" media="all" rel="stylesheet" type="text/css" />
	<!--[if lte IE 9]><link href="static/ie.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->

	<script src="{{STATIC_URL}}modernizr.js" type="text/javascript"></script>

</head>
<body>

	<header>
		<div class="grid">
			<div class="logo"><img src="../static/logolakshya.png" alt="Lakshya Foundation" width="104" height="85" /> </div>

			<nav>
				<ul class="group" id="menu">
					<li data-section="highlights" class="current_page_item notshow"><a>Home</a></li>
					<li class="notshow" data-section="about"><a>Top Projects</a></li>
					<li class="notshow" data-section="about"><a>Sponsor</a></li>
					<li class="notshow" data-section="about"><a>About NIT-Warangal</a></li>
					<li class="notshow" data-section="about"><a>About Us</a></li>
					{%if user.is_authenticated%}
					<li class="notshow" data-section="about"><a href="{{BASE_URL}}/auth/logout">Logout</a></li>{%else%}
					<li class="notshow" data-section="about"><a href="{{BASE_URL}}/auth/login">Login/Signup</a></li>{%endif%}
					{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
				</ul>
			</nav>

			<div class="clearfix"></div>
		</div>
	</header>

	<section id="highlights">
		<div class="grid">

			<div class="outerindent-title">
				<div class="title1">
					Connect with The Lakshya Foundation
					Alumni &amp; NIT-Warangal<br>
					in developing tools, funding projects and supporting <br>
					<span class="batman-bold">Young Entrepreneurs, Innovators and Scientists</span>
				</div>
				<div class="description">
					A Crowd Funding platform for NIT-Warangal to bring out young entrepreneurs, innovators and scientists,
					pledge your project here. Let the crowd fund you.
				</div>
				<div class="learn-more">Learn More !!</div>
			</div>

			<div class="slider-pull-down" id="ae"></div>



		</div>
	</section>

	<section id="about">

		<div class="grid">

			<div class="col-left">

				<h1><div class="number">1</div> O que é a <span class="red">Raiz</span>?</h1>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia repudiandae, odio dolore maxime libero placeat consequatur ipsam alias quaerat incidunt quas necessitatibus quo ad voluptatibus cumque est explicabo laudantium eos.
				</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam veritatis sint reiciendis tenetur, ea officia, soluta dolores quo, voluptas laudantium velit eveniet debitis sequi asperiores nihil porro quas maxime deleniti:</p>

			</div>

			<div class="col-right">

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente sequi totam distinctio iure, rerum aliquam quod sit, reprehenderit veritatis dolor dolores blanditiis, sunt quasi dolorem odit quos amet assumenda quaerat!</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores est sint laudantium iure quibusdam magnam impedit nam, sunt perspiciatis, nostrum incidunt architecto. Facilis quod minima impedit soluta, expedita eum nemo.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quas, incidunt aliquid ad veritatis necessitatibus neque quos blanditiis atque! Consequatur harum odit necessitatibus ratione obcaecati fugiat ipsa voluptatem, aut illo! Nisi incidunt cumque culpa, minus, numquam quibusdam voluptates optio quod facere? Ipsum ut laudantium, cumque sint, at delectus non amet maiores aperiam in magnam facere officia, sit necessitatibus natus eos?</p>

			</div>

			<div class="clearfix"></div>

		</div>

		<div class="animation">

			<div class="grid">

				<ul class="icons">
					<li>
						<h2 class="hide1">Mercado</h2>
						<div class="icon-market"></div>
						<p class="hide3">Content Content Content Content Content Content Content Content Content Content Content Content Content Content </p>
					</li>
					<li>
						<h2 class="hide1">Capital</h2>
						<div class="icon-money"></div>
						<p class="hide3">Content Content Content Content Content Content Content Content Content Content Content Content Content </p>
					</li>
					<li>
						<h2 class="hide1">Tecnology</h2>
						<div class="icone-tecnologia hide2"></div>
						<p class="hide3">Content Content Content Content Content Content Content Content Content Content Content Content Content </p>
					</li>
					<li>
						<h2 class="hide1">Gestures</h2>
						<div class="icon-gesture"></div>
						<p class="hide3">Content Content Content Content Content Content Content Content Content Content Content Content Content </p>
					</li>
					<li class="sobe">
						<h2 class="hide1">Personal Development</h2>
						<div class="icon-entrepreneur"></div>
						<p class="hide3">Content Content Content Content Content Content Content Content Content Content Content Content Content </p>
					</li>
				</ul>

				<div class="clearfix"></div>

			</div>

			<div class="helpyou">
				<div class="grid">
					<h1>Heading 1</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At reiciendis non veritatis voluptatem doloremque exercitationem mollitia unde eos quisquam optio dolorem sit, totam in facere et dolorum! Eos, assumenda, quisquam!</p>

					<ul class="partners">
						<li><br /><img src="../static/logo-smyowl.png" alt="Smyowl"/></li>
						<li><img src="../static/logo-iahb.png" alt="Instituto Alexandre e Heloisa Beldi" /></li>
						<li><br /><img src="../static/logo-gruposplice.png" alt="Grupo Splice"/></li>
						<li><img src="../static/logo-atua.png" alt="Atua Agência"/></li>
						<li><br /><img src="../static/logo-sistemico.png" alt="Sistemico"/></li>
						<li><br /><img src="../static/logo-sebrae.png" alt="SEBRAE"/></li>
					</ul>

				</div>
			</div>


		</div>

		<section id="o-programa">

			<div class="grid">

				<h1><div class="number">2</div>Numbered text</h1>

				<div class="boxes-function-crowd">

					<div class="function-crowd">
						<p>Another Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis iusto aperiam, illum at quia libero nihil magnam consequatur sed tenetur minus, laudantium pariatur dolorum enim voluptatibus alias deserunt, possimus quidem?</p>
					</div>

					<div class="triangle t1"></div>

					<div class="function-crowd">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, consequatur illum et saepe libero dolorum eum voluptatibus architecto dolore? Reiciendis voluptatibus a mollitia possimus saepe modi minima fugiat exercitationem ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam harum doloribus commodi repudiandae perferendis, consequuntur quae debitis repellendus libero velit blanditiis exercitationem, totam asperiores sit id quam modi vel, aliquid!</p>
					</div>

					<div class="triangle t2"></div>

					<div class="function-crowd">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea nesciunt omnis fugit! Praesentium blanditiis, ad distinctio dolorem ipsam quia libero ut commodi necessitatibus id deleniti atque et, laboriosam nam animi!</p>
					</div>

				</div>

				<div class="clearfix"></div>


				<div class="phases" id="slider">
					<ul>
						<li>
							<h2>Phases of the program</h2>
							<div class="phase"><div class="num">
								<div class="bg-number n1"></div>
								<div class="number n10">1</div>
							</div>
							<h3>Selection</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet commodi minus officia eligendi voluptatibus quae fugiat deleniti quibusdam eum voluptates, deserunt quia quisquam harum vel. Debitis tempora vel nam adipisci.
							</p>
						</div>
						<div class="phase"><div class="num">
							<div class="bg-number n2"></div>
							<div class="number n20">2</div>
						</div>
						<h3>Pitching</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, saepe. Et provident corporis saepe, consequuntur, voluptatem eveniet ut iste a mollitia nobis dolore eos. Excepturi necessitatibus, voluptates delectus est sequi.</p>
					</div>
					<div class="phase"><div class="num">
						<div class="bg-number n3"></div>
						<div class="number n30">3</div>
					</div>
					<h3>Finalizing</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quisquam eligendi quasi earum, ut deserunt, dicta quas laudantium molestias, dolore illum. Quo consectetur alias, cum labore nobis, impedit debitis molestiae!.</p>
				</div>
			</li>
			<li>
				<h2>Heading 2</h2>

				<div class="benefitiaries">
					<div class="benefitiary">
						<div class="icon-coworking">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, id illo. Dolores natus necessitatibus similique veniam placeat ut! Quasi expedita voluptas veniam corporis nulla ut laudantium laborum reprehenderit alias doloribus.</div>
					</div>
					<div class="benefitiary">
						<div class="icon-consulting">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint animi rem ex eum, officiis eveniet ipsam similique quaerat modi repellat magni tempore natus quod provident deserunt mollitia, commodi cumque vel?</div>
					</div>
					<div class="benefitiary">
						<div class="icon-mentors">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, optio quaerat doloremque soluta pariatur sed in voluptatem laborum ratione earum, expedita minima eveniet obcaecati laboriosam nesciunt dolorum doloribus, natus illum?</div>
					</div>
					<div class="benefitiary">
						<div class="icon-investors">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quos tempora exercitationem eum quo ullam vero molestiae. Perferendis unde, excepturi explicabo ipsam perspiciatis est ullam nemo eum ducimus mollitia dolorum.</div>
					</div>
					<div class="benefitiary">
						<div class="icon-networking">Networking</div>
					</div>
				</div>

			</li>
		</ul>
	</div>
	<!-- Need to work from here -->

	<div class="clearfix"></div>

	<div class="large-button">
		<h3>Whats the Problem</h3>
		<p>Some Explanation about the problem.</p>
	</div>

	<div class="clearfix"></div>

</div>

</section>

<section id="faq">

	<div class="grid">
		<h1 class="faq"><div class="number">3</div> FAQ &amp; Top Projects</h1>
	</div>

	<div class="question">
		<div class="pergunta q1">
			<div class="n">1.</div><div class="clearfix"></div>
			<div class="t">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque optio architecto ut numquam veritatis eaque quia vitae sunt eligendi, eos magnam debitis obcaecati itaque maiores ipsa, eveniet id quidem quasi.</p></div>
		</div>
		<div class="resposta q1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nulla molestias vitae, minima praesentium ipsum perferendis commodi quos dignissimos inventore. Voluptas odit unde facilis. Ipsam ducimus consectetur ad alias labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi alias accusamus recusandae dignissimos laborum ratione rem enim saepe assumenda ducimus, accusantium sit porro voluptates iusto corporis nam qui. Praesentium, nihil.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quia voluptatibus laborum perspiciatis aspernatur perferendis eius iusto, inventore sint temporibus quod odio consectetur, aut impedit asperiores fugiat, laudantium quos molestiae.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q2">
			<div class="n">2.</div><div class="clearfix"></div>
			<div class="t">Model Files  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, vero asperiores doloribus beatae temporibus necessitatibus natus molestiae optio error tenetur, reprehenderit, atque ratione? Error exercitationem doloribus consectetur temporibus mollitia, saepe.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci maiores mollitia quis esse quisquam quasi consectetur aperiam porro nemo animi. Quae nemo tempore eos accusamus iure placeat odit illo aut!</div>
		</div>
		<div class="resposta q2"><p>Repost Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae officia, minima nostrum, reprehenderit veniam alias facere vitae, laboriosam placeat vel cum id sapiente ab harum adipisci, veritatis culpa excepturi sunt.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q3">
			<div class="n">3.</div><div class="clearfix"></div>
			<div class="t">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quo nobis praesentium quae illum in? Repellendus expedita non beatae, architecto accusantium, harum, voluptatibus iusto fugit officia iure maiores, at aspernatur!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat molestiae eum laborum ad quaerat dolor rerum eius, earum quibusdam architecto qui sint adipisci pariatur cupiditate amet! Odit culpa, error mollitia.</div>
		</div>
		<div class="resposta q3"><p>Não.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q4">
			<div class="n">4.</div><div class="clearfix"></div>
			<div class="t">Vou receber alguma resposta de confirmação ou tenho que me atentar às informações do site?</div>
		</div>
		<div class="resposta q4"><p>Sim. Você receberá uma confirmação no seu email da sua inscrição no site do Programa. Entraremos em contactinfo direto se você e sua equipe forem selecionados. Mas é interessante que sempre esteja atento ao site ou outras mídias do programa para se manter atualizado.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q5">
			<div class="n">5.</div><div class="clearfix"></div>
			<div class="t">Existe alguma phase presencial no processo de seleção?</div>
		</div>
		<div class="resposta q5"><p>Sim. Nos dias 02 e 03 de outubro teremos as phases de entrevistas com os candidatos que passaram na primeira phase. Você, ao passar, será avisado imediatamente e marcaremos em um destes dois dias um horário para apresentá-lo a nossa banca de avaliação.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q6">
			<div class="n">6.</div><div class="clearfix"></div>
			<div class="t">O programa se limita ao Brasil ou podem ser empreendedores estrangeiros?</div>
		</div>
		<div class="resposta q6"><p>Não temos limitação quanto à empreendedores de fora. Desde que estejam dispostos a participar do programa.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q7">
			<div class="n">7.</div><div class="clearfix"></div>
			<div class="t">Existe um número mínimo para a formação da equipe?</div>
		</div>
		<div class="resposta q7"><p>Não, mas acreditamos que um bom negócio é melhor desenvolvido por uma equipe com perfis complementares : alguém que possa desenvolver seu produto, alguém para gerir e outro para vender. Mas como cada caso é um caso, iremos analisar a sua proposta e suas necessidades.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q8">
			<div class="n">8.</div><div class="clearfix"></div>
			<div class="t">Tenho que ter algum background técnico para apresentar a minha ideia?</div>
		</div>
		<div class="resposta q8"><p>Se o seu projeto envolve é de base tecnológica, entendemos que você ou alguém de sua equipe deve apresentar competências técnicas necessárias. Mas se este não for o caso, analisaremos de acordo com a necessidade.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q9">
			<div class="n">9.</div><div class="clearfix"></div>
			<div class="t">O que o Programa de Aceleração irá me oferecer de benefícios?</div>
		</div>
		<div class="resposta q9"><p>O Programa conta com um pacote completo do que consideramos importante no desenvolvimento de qualquer negócio.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q10">
			<div class="n">10.</div><div class="clearfix"></div>
			<div class="t">Qual o período de duração?</div>
		</div>
		<div class="resposta q10"><p>O programa tem duração do dia 7 de outubro até dia 31 de janeiro. Tendo pausa para recesso de festas de finais de ano. As inscrições fecham no dia <b>15 de setembro</b> e podem ser feitas neste site. 
		</p></div>
	</div>
	<div class="question">
		<div class="pergunta q1">
			<div class="n">11.</div><div class="clearfix"></div>
			<div class="t">Após o programa, vou continuar tendo uma assistência dos mentores?</div>
		</div>
		<div class="resposta q11"><p>Não podemos garantir que terá assistência dos mentores após o programa. A Raiz irá conectar você com os mentores que você precisar, mas depois do programa dependerá de você.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q12">
			<div class="n">12.</div><div class="clearfix"></div>
			<div class="t">Tenho que assinar algum tipo de contrato?</div>
		</div>
		<div class="resposta q12"><p>Você precisará assinar um Termo de Compromisso com a Raiz para garantirmos o comprometimento com o programa e com os partners da Raiz. Porém, ao receber o capital semente irá negociar a participação diretamente com os investidores. O programa de desenvolvimento Raiz conta com 200 horas presenciais de capacitação, mentoria e atividades distribuídas ao longo das 15 semanas.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q13">
			<div class="n">13.</div><div class="clearfix"></div>
			<div class="t">Estes investidores anjo que a Raiz irá conectar irão investir quanto nas empresas selecionadas?</div>
		</div>
		<div class="resposta q13"><p>Os investidores anjo que a Raiz o colocará em contactinfo, poderão, inicialmente, investir até R$ 12.000,00 por empresa selecionada e a condição de troca (se por participação ou futura devolução), será contratado diretamente entre o empreendedor e o investidor, ficando a RAIZ desconectada desta contratação.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q14">
			<div class="n">14.</div><div class="clearfix"></div>
			<div class="t">Terei de assinar algum contrato de confidencialidade quanto às informações que enviarei nas inscrições?</div>
		</div>
		<div class="resposta q14"><p>Não. Nosso objetivo não é copiar a ideia ou projeto de ninguém, nosso sucesso é o sucesso da sua empresa.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q15">
			<div class="n">15.</div><div class="clearfix"></div>
			<div class="t">A Raiz vai priorizar projetos que já estejam em uma phase mais avançada?</div>
		</div>
		<div class="resposta q15"><p>Não, iremos avaliar o projeto de acordo com sua etapa. Ou seja, se estiver na etapa da ideação iremos identificar o potencial da ideia e assim por diante.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q16">
			<div class="n">16.</div><div class="clearfix"></div>
			<div class="t">Eu posso escolher entre apenas um ou alguns dos benefícios oferecidos pelo programa ou tenho que me dispor de todos eles?</div>
		</div>
		<div class="resposta q16"><p>Não, o programa foi desenhado para lhe oferecer um suporte completo no que diz respeito ao desenvolvimento de negócios. Acreditamos que separados eles não geram o mesmo efeito.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q17">
			<div class="n">17.</div><div class="clearfix"></div>
			<div class="t">Vou receber algum certificado de participação?</div>
		</div>
		<div class="resposta q17"><p>Não. Mas a partir do momento em que as empresas forem selecionadas para o processo de aceleração, elas se tornam também parte do programa de desenvolvimento de negócios da Raiz. Iremos colaborar em todos os sentidos para o sucesso de todos.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q18">
			<div class="n">18.</div><div class="clearfix"></div>
			<div class="t">Quantas empresas serão aceleradas?</div>
		</div>
		<div class="resposta q18"><p>Temos o objetivo de selecionar 4 empresas para o programa de aceleração. Mas se acharmos mais equipes incríveis, poderemos abrir exceções. O contrário também verdadeiro.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q19">
			<div class="n">19.</div><div class="clearfix"></div>
			<div class="t">Tenho mais de um projeto. Posso me inscrever mais de uma vez neste mesmo ciclo?</div>
		</div>
		<div class="resposta q19"><p>Sim. Não temos um número limitado de projetos sendo inscritos por uma mesma pessoa ou equipe, o que queremos é que sejam ideias capazes de virar negócio. Porém se as duas forem escolhidas, você deverá optar por uma equipe somente.</p></div>
	</div>
	<div class="question">
		<div class="pergunta q20">
			<div class="n">20.</div><div class="clearfix"></div>
			<div class="t">Preciso ter CNPJ para me inscrever? E para participar do processo de aceleração?</div>
		</div>
		<div class="resposta q20"><p>Não. Nosso programa vai selecionar tanto empresas que já estão formalizadas quanto aquelas que ainda não estão. Estamos aqui para dar o suporte de que cada um precisar, independente de seu estágio.</p></div>
	</div>

	<div class="clearfix"></div>

</section>

<section id="inscricao">

	<div class="before">
		<div class="aviso">
			<p>Caro empreendedor,</p>

			<p>Antes de tudo queremos lhe desejar boa sorte! <br />Lembre-se: seja objetivo e claro em suas explicações.</p>

			<p>É <b>obrigatório</b> o envio de um vídeo de no máximo 3 minutos com o pitch da apresentação do projeto e da equipe.</p>
			<p><b>Recomendamos que tenha o vídeo pronto antes de começar a inscrição, <br />pois pediremos o link na última etapa.</b></p>

			<p>Estamos aguardando sua inscrição ansiosamente!</p>

			<p></p>

			<div class="entendi">Entendi!</div>

		</div>
	</div>
<style>
	.thumb-avatar{
		height: 119px;
		width:119px;
	}
</style>
	<div class="grid">

		<div class="home-discover-friends">
        <div class="container_12">
            <div class="row-friends">
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/t1.0-1/c13.13.166.166/1157713_565985350125529_1499817454_n.jpg" alt="$USER_NAME"></a>
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/t1.0-1/c80.0.320.320/p320x320/10603529_657792957649896_781871579573765995_n.jpg" alt="$USER_NAME"></a>
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c0.33.320.320/p320x320/1919660_10201544053682510_5444672139923081202_n.jpg?oh=25b1807f05617dc2a1f52ca04a645171&oe=54677AEC&__gda__=1416767534_0406410024d7ce116738a472b0408b70" alt="$USER_NAME"></a>
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/t1.0-1/c0.0.320.320/p320x320/10584020_704332159632114_4800759289943765527_n.jpg" alt="$USER_NAME"></a>
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c0.0.320.320/p320x320/10524317_660078700753810_8625518764038768982_n.jpg?oh=4ccd4410bbe39bd5255346c94bbc41c9&oe=54618C6F&__gda__=1415709432_edf6b2c468449c9a5faed4114a0aa905" alt="$USER_NAME"></a>
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/t1.0-1/c101.4.631.631/s320x320/10527453_10203184102660606_1512566411827074532_n.jpg" alt="$USER_NAME"></a>
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p320x320/10462708_795488600491868_2193721261966280490_n.jpg?oh=728c293102a042e2bb8760e29f0f7aab&oe=545FD6D2&__gda__=1416619193_238efbfb326ba7a6d8e547d8bf6e1d3f" alt="$USER_NAME"></a>
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c0.0.320.320/p320x320/10478440_807780422616560_6812708197801044433_n.jpg?oh=c7fe0341bcf6aadbaeaa2ac501a02da3&oe=545EAC17&__gda__=1416752256_9d87e92611834594e612753678161357" alt="$USER_NAME"></a>
                <div class="clear"></div>
            </div>
            <div class="row-friends row-connect-fb">
                <a class="thumb-avatar t-first" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/c3.0.873.873/s320x320/1898190_783732268321603_491538253_n.jpg?oh=ce5c94fe7d6848b23e675e20107471eb&oe=5466376B&__gda__=1415556080_e57971b78b6465e3b744720e1df38432" alt="$USER_NAME"></a>
                <div class="connect-fb">
                    <p class="rs description">Discover great projects with your friends!</p>
                    <a href="#" class="btn btn-fb">Connect With Facebook</a>
                </div>
                <a class="thumb-avatar t-last" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/p320x320/10580065_685702968181454_7782856146988379956_n.jpg?oh=a43903f22201e2a4e12b206e3e3d9565&oe=546032BF&__gda__=1417073923_abf1eef9b809bb711c3c38b077eecea1" alt="$USER_NAME"></a>
                <div class="clear"></div>
            </div>
            <div class="row-friends">
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c0.26.320.320/p320x320/10353708_871184919577086_9079608711029265426_n.jpg?oh=fa64d6d2c3d618a85fd94455bfdd1925&oe=5472EAC0&__gda__=1417043524_7b97d280b87fef95fe0e7a46e7b1f82a" alt="$USER_NAME"></a>
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/c53.0.320.320/p320x320/10432472_856112734416532_1913607109894733023_n.jpg?oh=54e21ea0eb01786940f06b8baac0f02c&oe=5473EBB4&__gda__=1416131956_98afeed2e2497cfd9e36f5c068b251ca" alt="$USER_NAME"></a>
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/t1.0-1/p320x320/1780875_10203234704613041_451710884_n.jpg" alt="$USER_NAME"></a>
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/t1.0-1/c2.244.716.716/s320x320/10151407_10154071905680094_7739168467546246970_n.jpg" alt="$USER_NAME"></a>
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/v/t1.0-1/c61.61.763.763/s320x320/1010827_369757983147611_1514816732_n.jpg?oh=3c4b47204cb1e6544bbdee30df091e46&oe=5480F016&__gda__=1417727463_d0d7373f60e24cdfa0bf3aa41291f971" alt="$USER_NAME"></a>
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/t1.0-1/c0.115.539.539/s320x320/10527845_10152371511803198_7459944990676271384_n.jpg" alt="$USER_NAME"></a>
                <a class="thumb-avatar" href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c0.0.320.320/p320x320/10406909_10204438248825916_5991301317221892936_n.jpg?oh=c1a2cf44739c10a78499088ca045cf6f&oe=545D548D&__gda__=1415970895_23da1e1c08e976609f8436112e8abde5" alt="$USER_NAME"></a>
                <a class="thumb-avatar" href="#"><img src="https://scontent-b-kul.xx.fbcdn.net/hprofile-xpa1/v/l/t1.0-1/c55.0.320.320/p320x320/994322_667480089948358_574806173_n.jpg?oh=c3a652a79fddb331b82b11bfa87a97f1&oe=547EB10E" alt="$USER_NAME"></a>
                <div class="clear"></div>
            </div>
        </div>
    </div>

</div>

<div class="inscribed-features">
	<div class="grid">
		Caro(a) empreendedor(a), agradecemos sua inscrição <br />em nosso programa de aceleração! <br /><br /><br />
		Os projetos selecionados serão divulgados dia 05/10.<br /><br /><br />
		Boa sorte!
	</div>
</div>


<div class="clearfix"></div>


</section>

<section id="contactinfo">

	<div class="any-problem">Ainda tem alguma any-problem? <br/>
		Entre em contactinfo conosco pelo formulário abaixo.</div>

		<div class="barra-contactinfo">
			<div class="grid">

				<h1><div class="number">5</div> Contato</h1>

				<form accept-charset="UTF-8" action="/contacts" class="new_contact" data-remote="true" id="new_contact" method="post">
					<div class="form-contactinfo">

						<input id="contact_name" name="contact[name]" placeholder="Name" required="required" size="30" type="text" />

						<input id="contact_email" name="contact[email]" placeholder="Email" required="required" size="30" type="email" />

						<input id="contact_subject" name="contact[subject]" placeholder="Subject" required="required" size="30" type="text" />

						<textarea cols="40" id="mensagem" name="contact[message]" placeholder="Message" required="required" rows="20">
						</textarea>

						<input class="enviar" name="commit" type="submit" value="Enviar" />

					</div>
				</form>
				<div class="sent-success">Success !</div>

				<div vocab="" typeof="Organization">
					<ul class="info">
						<li>
							<h3 property="name">The Lakshya Foundation</h3>
							<p property="address" typeof="PostalAddress"><span property="streetAddress">XXX Hyderabad</span>, Hyderabad Hi Tech City - <span property="addressLocality">Near Gachibowli</span>/<span property="addressRegion">Telengana</span></p>
						</li>
						<li>
							<h3><span property="telephone"><span class="ddd">+91</span> XXXXXXXXXX </span></h3>
						</li>
					</ul>
					<div property="location">
						<span typeof="Place">
							<span property="latitude" content="coordinates"></span>
							<span property="longitude" content="coordinates"></span>
						</span>
					</div>
				</div>

			</div>
		</div>

		<div class="initiative-sponsors">

			<p>Display of light box like images. So that this can be used.<br /></p>
			<img src="" alt="">

		</div>

	</section>

	<script src="../static/application.js" type="text/javascript"></script>

</body>
</html>


<!-- Localized -->